* {
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: #fff;
  min-height: 100vh;
  margin: 0;
}
main{
    background: #E9FFC2;
}
.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

header {
  background-color: #E9FFC2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
.header {
  position:relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 50px 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.logo {
  color: #0b0f29;
  font-weight: 700;
  font-size: 2em; /* Please don't use 'em' if possible */
  text-decoration: none;
  /* margin-left: 92px; */ /* Please don't use 'margin' if possible. Instead of margin, use padding*/
}

.logo:hover {
  text-decoration: none;
}

.navigation {
  display: flex;
  gap: 40px;
  /* justify-content: flex;      /* Please don't use unnecessary code*/
  /* align-items: center; */ /* Please don't use unnecessary code */
}
.navigation li {
  list-style: none;
}
.navigation li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #112434;
  border-radius: 8px;
}
.navigation li a:hover,
.navigation li a.active {
  background: #aac8a7;
  border: #0b0f29 solid 2px;
  box-shadow: 5px 5px;
}
.bar {
  border: #0b0f29 solid 2px;
  border-radius: 8px;
  width: 45px;
  height: 45px;
  color: #0b0f29;
  display: none;
}

/* Parallax section styles */
.parallax {
  font-size: 35px;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex: 1;
  width: 100%;
  gap: 0.75em;
  padding: 10% 2% 0 2%;
}
.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.parallax p {
  font-size: 0.45em;
  color: #0b0f29;
  font-weight: 300;
}
.sec {
  position: relative;
  padding: 100px;
  background: #112434;
}
.sec h2 {
  font-size: 3em;
  color: #fff;
  margin-bottom: 10px;
}
.sec p {
  font-size: 1em;
  color: #fff;
  font-weight: 300;
}
.card-container{
    display:flex;
    padding: 40px;
    gap:35px;
}
.card p{
    font-family: "Press Start 2P";
    font-size: 12px;
}
.card{
    width: 110px;
    height: 110px;
    border: #0b0f29 solid 3px;
    box-shadow: 10px 10px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: waveAnimation 2s infinite alternate;
}
.card:hover{
    transform: translateY(-10px);
}
#card1{
    animation-delay: 0.25s;
}
#card2{
    animation-delay: 0.5s;
}
#card3{
    animation-delay: 0.75s;
}
#card4{
    animation-delay: 1s;
}
#card5{
    animation-delay: 1.25s;
}
#card6{
    animation-delay: 1.5s;
}
#card7{
    animation-delay: 1.75s;
}
#card8{
    animation-delay: 2s;
}
@keyframes waveAnimation {
    0%,100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

@media only screen and (max-width: 1024px) {
  .navigation {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .bar {
    display: block;
  }
  .div-container1 {
    width: 100%;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    display: flex;
    align-items: flex-start;
  }
  .div-container2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
    align-content: flex-end;
    margin-top: 10px;
  }
  .div1-content1 {
    height: 100%;
    min-height: 300px;
    width: 100%;
    border-radius: 8px;
    border: #0b0f29 solid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .div1-content {
    width: 500px;
    height: fit-content;
    min-height: 200px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
}
