<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatBot</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" />
    <!-- <link rel="stylesheet" href="Chatbot.css"> -->
    <link rel="stylesheet" href="{{url_for('static', filename='Chatbot.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <header class="header">
        <a href="#" class="logo">
            ChatI
        </a>
        <nav>
            <ul class="navigation">
                <li><a href="/">Landing Page</a></li>
                <li><a href="home">Home</a></li>
                <li><a href="Chatbot" class="active">Chatbot</a></li>
            </ul>
        </nav>
    </header>
    <button class="bar" onclick="toggle()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
            <path fill-rule="evenodd" d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z" clip-rule="evenodd" />
          </svg>
    </button>
    <main>
            <div class="chat-info">
                <div id="info">
                    <h3>About the AI</h3>
                    <hr>
                    <h5>Overview</h5>
                    <p>The PaLM 2 for chat is ideal for text tasks that require back-and-forth interactions. For text tasks that can be completed with one API response (without the need for continuous conversation), use the PaLM 2 for text.</p>
                    <p>This chatbot using Palm2 API. The AI is still under development so it has lots of flaws</p>
                    <h5>Model properties:</h5>
                    <p>Max input token: 4,096</p>
                    <p>Max output tokens: 1,024</p>
                    <p>Training data: up to Feb 2023</p>
                    <p>Max turns : 2,500</p>
                    <hr>
                    <h3>Note</h3>
                    <p>Model doesn't remember chat context; However it can give rensponse up-to-date.</p>
                </div>
                <div>
                    <button class="delete-btn" onclick="window.location.href='chatbot2'">Goto Chat 2 </button>
                    <button class="delete-btn btn-md" id="deleteMessagesBtn">Delete All Messages</button>
                </div>
                
            </div>
            <div class="chat-section container">      
                <div id="chat">
                    <p>{{response}}</p>
                    <!-- Message goes here -->
                    <a id="scrollAnchor"></a>
                </div>   
                <hr>
                <div id="Input">
                    <form class="form input-container" id="messageInput" action="/Chatbot" method="post">
                        <input required="" name="userinput" placeholder="Ask me anything" />
                        <button class="invite-btn" type="button" id="nextButton">Submit</button>
                    </form>
                </div>
            </div>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="/static/script.js"></script>
    </main>
</body>
</html>