* {
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    position: relative;
    background-color: #E9FFC2;
    min-height: 100vh;
    margin: 0;
  }
  main{
      background: #E9FFC2;
  }
  .container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  
  header {
    background-color: #E9FFC2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
  }
  .header {
    position:relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 50px 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
  }
  
  .logo {
    color: #0b0f29;
    font-weight: 700;
    font-size: 2em; /* Please don't use 'em' if possible */
    text-decoration: none;
    /* margin-left: 92px; */ /* Please don't use 'margin' if possible. Instead of margin, use padding*/
  }
  
  .logo:hover {
    text-decoration: none;
  }
  
  .navigation {
    display: flex;
    gap: 40px;
  }
  .navigation li {
    list-style: none;
  }
  .navigation li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #112434;
    border-radius: 8px;
  }
  .navigation li a:hover,
  .navigation li a.active {
    background: #aac8a7;
    border: #0b0f29 solid 2px;
    box-shadow: 5px 5px;
  }
  .bar {
    border: #0b0f29 solid 2px;
    border-radius: 8px;
    width: 45px;
    height: 45px;
    color: #0b0f29;
    display: none;
  }

section{
  width: 100%;
  height: 85vh;
  margin-top: 40px;
}
  .div1{
    
    padding: 35px;
    /* border: #0b0f29 solid 2px; */
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .mini-card{
    border: #0b0f29 3px solid;
    width: 85%;
    max-width: 400px;
    min-height: 250px;
    height: 85%;
    border-radius: 8px;
    box-shadow: 10px 10px;
  }

  .mini-card:hover{
    transform: translateY(5px);
  }

  .img {
    width: 100%;
    height: 70%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden; /* This will hide any overflowing content */
  }
  
  .img img {
    display: block;
    width: 100%;
    height: 80%;
    object-fit: cover; /* This will make the image cover the entire container and maintain aspect ratio */
  }
  hr{
    border: 1px solid #0b0f29;
  }

  